<html>

<head>
    <title>PSA</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/f3e60453d5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="root"></div>
    <script src="built/bundle.js"></script>
</body>

</html>